$o-brand-odoo: #fca01a; // Navigation Bar fca01a
$o-brand-primary: #3b74de; // Buttons 3b74de

$as-menu-color: #ffffff; // ffffff
$as-appbar-color: #000000; //Text Color 000000
$as-appbar-background: #00a16a; // 00a16a